---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv" showFooter={false}>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Backend Software Engineer with a focus on extensible, maintainable, reliable, and fast software. I believe today's software should be built with future changes in mind, and I strive to create simple modular designs that can adapt to evolving requirements. I am passionate about functional programming. Curious about technologies and eager to learn new things.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Backend Software Engineer at Vandebron"
      subtitle="From Oct 2023 to Present at Vandebron, Amsterdam, the Netherlands"
    >
      Designing features, refining requirements, implementing and testing software in Scala with ZIO, Postgres with Timescale extension and Flyway migrations and Slick, Kafka, Docker, git, Python scripting.
      <br /><text class="text-xs">
        More: Prometheus monitoring, Grafana dashboards, OpenTelemetry tracing, CI/CD with GitHub Actions, Dagster data orchestration, code reviews, pair programming, teamwork.
      </text>
    </TimeLineElement>
    <TimeLineElement
      title="Teaching Assistant at Vrije Universiteit Amsterdam"
      subtitle="From Sep 2019 to Dec 2021 at VU Amsterdam, the Netherlands"
    >
      Seminars, practical classes, grading and helping students with assignments in these courses: Computer Programming, Object Oriented and Functional Programming, Equational Programming, Computer Organization, Operating Systems, Computer Networks, Project Application Development
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="MSc in Computer Science - Foundations of Computing and Concurrency Track (Theoretical Computer Science) joint degree at Vrije Universiteit Amsterdam and Universiteit van Amsterdam"
      subtitle="Sep 2021 to Jul 2024, Amsterdam, the Netherlands"
    >
      GPA: 7.9/10
    </TimeLineElement>
    <TimeLineElement
      title="BSc in Computer Science at Vrije Universiteit Amsterdam"
      subtitle="Sep 2018 to Jul 2021, Amsterdam, the Netherlands"
    >
      Cum Laude distinction with GPA 8.7/10
      <br />
      Activities and societies: Career Committee member of STORM
    </TimeLineElement>
    <TimeLineElement
      title="Secondary School Diploma (Gymnasium) at Szent István Gymnasium"
      subtitle="Sep 2014 to Jun 2018, Budapest, Hungary"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://rockthejvm.com/courses/zio" target="_blank"> ZIO (Rock the JVM)</a>
    </li>
    <li>
      <a href="https://ielts.org/" target="_blank"> IELTS English Language Exam score 8.0/9.0 </a>
    </li>
    <li>
      <a href="https://www.goethe.de/ins/us/en/spr/prf/gzc1.cfm" target="_blank"> Goethe Institute C1 German Language Exam </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Scala</li>
    <li>SQL (Postgres)</li>
    <li>git</li>
    <li>Python</li>
    <li>Docker/Containers</li>
    <li>Kafka</li>
    <li>ZIO</li>
    <li>Rust</li>
    <li>Java</li>
    <li>Kubernetes</li>
    <li>Functional Programming</li>
    <li>Clear technical communication</li>
    <li>Teamwork</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Hungarian (Native)</li>
    <li>English (Fluent)</li>
    <li>German (Fluent)</li>
    <li>Slovak (Fluent)</li>
    <li>Dutch (Basic)</li>
  </ul>
</BaseLayout>
