---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Peter Kementzey</div>
    <div class="text-3xl py-3 font-bold">Software Engineer and Computer Scientist</div>
    <div class="py-2">
      <div class="text-lg space-y-4">
        <p>
          I'm a backend software engineer at <a class="text-blue-500 hover:underline" href="https://vandebron.nl/" target="_blank" rel="noopener noreferrer">Vandebron</a>.
          In this role I use Scala in a functional style to build sustainable software. Sustainable as a product by producing green energy, and sustainable in a software engineering sense by being modular, well-tested, easy to adapt to future requirements.
          Find out more about my work experience in my <a class="text-blue-500 hover:underline" href="/cv">CV</a>.
        </p>
        <div class="text-xl font-bold">Engineering Philosophy</div>
        <p>
          As an engineer, I strive to make users and other stakeholders happy. In my opinion, this can be achieved through fast and early feedback loops, easily evolvable software, and emphasis on simplicity. Almost always it's better to have a basic working implementation now, than a fully fledged one in a year, or more likely, never. However, I do not believe in sacrificing quality, thus I like to keep things simple. Occasionally this also means healthy pushback on requests, for the users' sake.
        </p>
        <div class="text-xl font-bold">Love of Programming</div>
        <p>
          While delivering value to people is great, I also enjoy the ✨art of programming✨ and Theoretical Computer Science. I am a fan of functional programming (see my <a class="text-blue-500 hover:underline" href="/projects">BSc thesis</a>), and declarative paradigms. I love exploring useful and interesting abstractions, from classic strong type systems and higher order functions, to new exciting concepts like lifetimes and borrowing (see <a class="text-blue-500 hover:underline" href="/projects">MSc thesis</a>). In my research I focused on correctness proof derivations and theorem provers using predicate logic.
        </p>
        <p class="font-bold">
          In the end, the satisfaction of creating something useful and beautiful keeps me going.
        </p>
        <p>
          Feel free to explore my <a class="text-blue-500 hover:underline" href="/projects">projects</a> or view my <a class="text-blue-500 hover:underline" href="/cv">CV</a>.
        </p>
        <p class="pt-2">
          📍 Amsterdam, the Netherlands
        </p>
      </div>
    </div>
  </div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->
</BaseLayout>
