---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Peter Kementzey</div>
    <div class="text-3xl py-3 font-bold">Software Engineer and Computer Scientist</div>
    <div class="py-2">
      <text class="text-lg">
        <p>
          Currently I work as a backend developer at <a class="text-blue-500 hover:underline" href="https://vandebron.nl/" target="_blank">Vandebron</a>.
          In this role I use Scala in a functional style to build software for green energy production. I focus on building maintainable, reliable, and fast software that meets the needs of our fast changing environment and has a positive impact on our world.
          Please check out my <a class="text-blue-500 hover:underline" href="/cv">CV</a> or my <a class="text-blue-500 hover:underline" href="/projects">projects and theses</a>.
        </p>
        <br>
        <p>
          Current tech stack: Scala with <a class="text-blue-500 hover:underline" href="https://zio.dev" target="_blank">ZIO</a>, Postgres with <a class="text-blue-500 hover:underline" href="https://www.timescale.com/" target="_blank">Timescale</a>, Kafka, Docker, Python, git.
        </p>
        <br>
        <p>
          Other technologies I used: Rust, <a class="text-blue-500 hover:underline" href="https://lean-lang.org/" target="_blank">Lean</a>, Haskell, Java, C.
        </p>
      </text>
    </div>
  </div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->
</BaseLayout>
