---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10 text-[0.6em]/3">
  <div class="pb-2">
    &copy; {today.getFullYear()} Peter Kementzey
  </div>
  <div class="inline opacity-75">
    Created by <a href="https://peterkementzey.github.io" target="_blank" class="font-bold">Peter Kementzey</a> using
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template</a>
  </div>
</footer>
<style></style>
